* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(193, 193, 193);
}

form {
    width: 90%;
    margin:20px auto;
    display: flex;
}

form input, select, button {
    padding: 10px;
    flex-grow: 1;
}

.events {
    padding: 50px;
}

.event {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: rgb(220, 219, 219);
}

.event:hover {
    background-color: rgb(185, 185, 185);
    cursor: pointer;
}

.event div {
    width: calc(100% / 3);
    text-align: center;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    margin: 20px;
}

/* Modal */
.overlay {
    position: fixed; 
    top: 0; 
    right: 0;    
    bottom: 0;
    left: 0;   
    background-color: rgba(97, 97, 97, 0.742); 
    z-index: 9999;
}

.overlay .modal {
    width: 60%;
    margin: 20px auto;
    padding: 20px 40px;
    background-color: rgb(220, 219, 219);
    position: relative;
}

.overlay .modal span {
    position: absolute;
    top: 5px;
    right: 15px;
}

.overlay .modal span:hover {
    cursor: pointer;
}

.modal .inform {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}